
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    user-select: none;
}

body,html{
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    color: rgb(255, 255, 255);
}

body, input, button {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.ui {
  width: 100%;
  height:100%;
  display: flex;
  align-items: center;
}

.content {
  width: 640px;
  background-color: rgba(17, 25, 40, 0.71);
  transition: all 0.2s ease 0s;
  box-shadow: 2px 5px 10px 0 rgba(0,0,0,0.20);
  z-index: 9999999;
  border-radius: 5px;
  position: fixed;
  left: 47%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.notification {
  position: absolute;
  border-radius: 5px;
  text-align: center;
  min-width: 200px;
  max-width: 450px;
  background-color: rgba(17, 25, 40, 0.71);
  box-shadow: 2px 5px 10px 0 rgba(0,0,0,0.20);
  top: 18%;
  right: -15%;
  padding: 15px;
  color: white;
  font-size: 14px;
  letter-spacing: 1px;
  transition: right 0.4s ease 0s;
}

.basket {
  width: 100%;
  border-radius: 5px;
  background-color: rgba(17, 25, 40, 0.71);
  transition: all 0.2s ease 0s;
  box-shadow: 2px 5px 10px 0 rgba(0,0,0,0.20);
  z-index: 9999999;
  position: fixed;
  left: 120%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 500px;
  padding: 5px;
  max-width: 250px;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.checkout {
  border-radius: 5px;
  width: 250px;
  background-color: rgba(17, 25, 40, 0.71);
  transition: all 0.2s ease 0s;
  box-shadow: 2px 5px 10px 0 rgba(0,0,0,0.20);
  position: fixed;
  left: 70.3%;
  top: 76.25%;
  transform: translate(-50%, -50%);
  height: 60px;
  border: 0;
}

.checkout:hover{
  background-color: rgba(17, 25, 40, 0.8);
}

.checkout #checkout {
  width: 100%;
  height: 100%;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  background: transparent;
  border: 0;
  color: #fff;
  font-size: 15px;
}

.checkout #checkout-out {
  width: 100%;
  height: 100%;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  background: transparent;
  border: 0;
  color: #fff;
  font-size: 15px;
}

.banner {
  width: 895px;
  border-radius: 5px;
  background-color: rgba(17, 25, 40, 0.71);
  transition: all 0.2s ease 0s;
  box-shadow: 2px 5px 10px 0 rgba(0,0,0,0.20);
  z-index: 9999999;
  position: fixed;
  left: 53.65%;
  top: 23.3%;
  transform: translate(-50%, -50%);
  height: 70px;
}

.banner .left {
  float: left;
  width: 100%;
}

.banner .left .wallet {
  width: 60px;
  height: 70px;
  float: right;
  margin-top: -68px;
  margin-right: 192px;
  align-items: center;
  text-align: center;
}

.banner .left .icon {
  float: left;
  padding: 5px;
  margin-top: 20px;
  opacity: 0.8;
}
.banner .left .details {
  margin-top: -8px;
  padding: 30px;
}

.banner .left .exit {
  transition: all 0.2s ease 0s;
  margin-top: -97px;
  margin-left: 170px;
  padding: 30px;
  font-size: 2em;
  opacity: 0.8;
}

.banner .left .exit:hover{
  opacity: 1.0;
}

.banner .left .details .title {
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: bold;
  text-transform: uppercase;
  opacity: 0.8;
}
.banner .left .details .count {
  letter-spacing: 1px;
  font-weight: bold;
}

.banner .left h1 {
  color: #fff;
  letter-spacing: 1px;
  padding: 17px;
  text-transform: uppercase;
}

.products{
  transition: all 0.2s ease 0s;
  margin-top: 15px;
  width: 100%;
  height: 485px;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.payout{
  width: 335px;
  height: 60px;
  transition: all 0.2s ease 0s;
  z-index: 9999999;
  position: fixed;
  left: 60.1%;
  top: 76.2%;
  transform: translate(-50%, -50%);
}

.buttons {
  width: 25%;
  height: 50px;
  float: right;
  padding: 5px;
  border-left: 2px solid   rgba(136, 136, 136, 0.2);
}

.buttons button {
  width: 100%;
  height: 90%;
  margin-right: 10px;
  border-radius: 5px;
  border: 0;
  background: rgba(61, 115, 197, 0.2);
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: bold;
  transition: all 0.2s ease 0s;
  box-shadow:
  inset 20px 0 50px rgba(57, 82, 133, 0.2), 
  inset -20px 0 50px rgba(57, 82, 133, 0.2),  
  inset 20px 0 100px rgba(57, 82, 133, 0.2),  
  inset -20px 0 100px rgba(57, 82, 133, 0.2),
  -10px 0 100px rgba(57, 82, 133, 0.2),       
  10px 0 100px rgba(57, 82, 133, 0.2);   
}

.buttons button:hover{
  background: rgba(61, 115, 197, 0.4);
}

.payout .cash {
  width: 35%;
  height: 60px;
  background-color: rgba(17, 25, 40, 0.71);
  border: 0;
  border-radius: 5px;
  box-shadow: 2px 5px 10px 0 rgba(0,0,0,0.20);
  transition: all 0.2s ease 0s;
  float: left;
  text-align: center;
  padding: 15px;
} 

.payout .cash:hover{
  background-color: rgba(17, 25, 40, 0.8);
}

.payout .bank:hover{
  background-color: rgba(17, 25, 40, 0.8);
}

.payout .bank {
  width: 35%;
  height: 60px;
  background-color: rgba(17, 25, 40, 0.71);
  border: 0;
  border-radius: 5px;
  box-shadow: 2px 5px 10px 0 rgba(0,0,0,0.20);
  transition: all 0.2s ease 0s;
  padding: 15px;
  text-align: center;
  float: left;
  margin-left: 2px;
} 

.product {
  display: inline-block;
  width: 130px;
  height: 140px;
  background: rgba(87, 87, 87, 0.2);
  margin-bottom: 15px;
  margin-left: 20px;
  margin-top: 5px;
  border: 0;
  border-radius: 5px;
  box-shadow: 2px 5px 10px 0 rgba(0,0,0,0.20);
  transition: all 0.2s ease 0s;
}



.disabled {
  opacity: 0.5;
}

.product-basket {
  display: inline-block;
  width: 130px;
  height: 140px;
  background: rgba(87, 87, 87, 0.2);
  border: 0;
  border-radius: 5px;
  box-shadow: 2px 5px 10px 0 rgba(0,0,0,0.20);
  transition: all 0.2s ease 0s;
  margin-left: 45px;
  margin-bottom: 15px;
  margin-top: 5px;
}

.product-basket:first-child {
  margin-top: 15px;
}

.basket-clear-button {
  float: right;
  width: 20%;
  height: 10px;
}

.product:hover{
  background: rgba(136, 136, 136, 0.2);
}

.product-basket:hover{
  background: rgba(136, 136, 136, 0.1);
}

.products .products-title {
  position: absolute;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
  height: 5px;
  padding: 5px;
  margin-top: -7px;
  margin-left: 5px;
}

.basket .basket-title {
  position: absolute;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
  height: 5px;
  padding: 5px;
  margin-top: -7px;
  margin-left: 5px;
}

.product-basket .header{
  width: 80%;
  height: 25%;
  margin-bottom: 5px;
  text-align: left;
  padding: 15px;
}

.product-basket .header .header-title {
  font-weight: 600;
  font-size: 15px;
  text-transform: uppercase;
}

.product-basket .header .header-description {
  font-weight: lighter;
  font-size: 13px;
  letter-spacing: 0.5px;
  opacity: 0.7;
}

.product-basket .image{
  width: 100%;
  height: 50%;
  margin-top: 15px;

}

.product-basket .price {
  width: 90%;
  height: 20px;
  background: rgba(19, 155, 60, 0.8);
  box-shadow: 2px 5px 10px 0 rgba(0,0,0,0.20);
  margin-top: -20px;
  border-radius: 5px;
  color: #fff;
  transition: all 0.2s ease 0s;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  max-width: 100px;
  padding: 2px;
}


.product-basket .image img{
  margin: 0 auto;
  margin-left: 10px;
  width: 100%;
}

.product-basket .footer{
  margin-top: 70px;
  width: 100%;
  height: 25%;
  margin-bottom: 5px;
  text-align: left;
  padding: 5px;
  max-width: 120px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-basket .footer .footer-title{
  font-size: 15px;
  margin-left: 5px;
} 

.product-basket .footer .footer-price{
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 2px;
} 

.product .header{
  width: 80%;
  height: 25%;
  margin-bottom: 5px;
  text-align: left;
  padding: 15px;
}

.product .header .header-title {
  font-weight: 600;
  font-size: 15px;
  text-transform: uppercase;
}

.product .header .header-description {
  font-weight: lighter;
  font-size: 13px;
  letter-spacing: 0.5px;
  opacity: 0.7;
}

.product .image{
  width: 100%;
  height: 50%;
  margin-top: 15px;

}

.product .price {
  min-width: 50px;
  height: 20px;
  color: #fff;
  transition: all 0.2s ease 0s;
  font-size: 13px;
  text-align: left;
  text-transform: uppercase;
  max-width: 100px;
  margin-left: -5px;
  margin-top: -5px;
  float: left;
}

#basket-count {
  position: absolute;
  margin-top: 10px;
  font-size: 13px;
  margin-left: -5px;
}

.product .image {
  width: 100%;
  height: 30%;
  margin-top: 25px
}

.product .image img{
  margin: 0 auto;
  margin-left: 10px;
  width: 100%;
}

.product .footer{
  margin-top: 70px;
  width: 100%;
  height: 25%;
  margin-bottom: 5px;
  text-align: left;
  padding: 5px;
  max-width: 120px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product .footer .footer-title{
  font-size: 15px;
  margin-left: 5px;
  font-weight: lighter;
} 

.product .footer .footer-price{
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 2px;
} 

::-webkit-scrollbar {
  width: 10px;
  direction:rtl; 
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  direction:rtl; 
}

::-webkit-scrollbar-thumb {
  background: rgba(87, 87, 87, 0.2);
  border-radius: 10px;
}

.container-timer {
  position: fixed;
  right: -5%;
  top: 80%;
  transform: translate(-50%, -50%);
  background-color: rgba(17, 25, 40, 0.71);
  box-shadow: 2px 5px 10px 0 rgba(0,0,0,0.20);
  border-radius: 5px;
  width: 200px;
  height: 80px;
}

.time-options {
  position: fixed;
  right: -5%;
  top: 87%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  box-shadow: 2px 5px 10px 0 rgba(0,0,0,0.20);
  border-radius: 5px;
  width: 200px;
  height: 50px;
}

.info-title {
  margin-top: 10px;
  margin-left: 5px;
  padding: 10px;
  font-size: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.time {
  margin-left: 20px;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 14px;
  color: rgb(160, 160, 160);
  opacity: 0.4;
  text-transform: uppercase;
}

@keyframes alert {
  0% {
      color: rgba(255, 255, 255, 0.5);
  }

  1% {
      color: red;
  }

  5% {
    color: rgb(255, 145, 0);
  }

  100% {
      color: rgba(255, 255, 255, 0.5);
  }
}